<% if current_user.admin? %>
  <div class="nav navbar-nav pull-right">
    <%= button_to "Add Sql Functions", new_constraint_path , :class => "btn btn-primary btn-medium", :method => :get %>
  </div>
<%end%>

<% owned_projects = current_user.projects %>
<% collaborating_projects = current_user.collaborating_projects %>
<% if owned_projects.any? %>
  <h1> Owned Projects </h1>
  <table class="table table-striped">

    <thead>  
      <tr>  
        <th>Name</th>  
        <th>Description</th>  
        <th>View</th>  
        <th> Drop </th>
      </tr>  
    </thead> 

    <tbody>  
      <% owned_projects.each do |own|%> 
        <tr>  
          <%= render partial: 'shared/home_table' , locals: {own: own, yes: "1"}%>
        </tr>
      <%end%>
    </tbody> 
  </table> 
<%end%>

<% if collaborating_projects.length > owned_projects.length %>

  <h1> 
    Collaborating Projects 
  </h1>
  <table class="table table-striped">
    <thead>  
      <tr>  
        <th>Name</th>  
        <th>Description</th>  
        <th>View</th>  
      </tr>  
    </thead> 

    <tbody>  
      <% collaborating_projects.each do |collaborator|%> 
        <% unless owned_projects.include? collaborator %>
          <tr>
            <%= render partial: 'shared/home_table' , locals: {own: collaborator,yes: "0"}%>
          </tr>
        <%end%>
      <%end%>      
    </tbody> 
  </table> 
<%end%>