<td>
  <%= own.name %>
</td>

<td>
  <%= own.description %>
</td>

<td>
  <%= link_to "view" , own ,method: :get  %>
</td>

<% if yes=="1"%>
  <td> 
      <%= link_to "delete" , own ,method: :delete,data: { confirm: "Are you sure for deleting this project"}   %>        
  </td>
<%end%>