<h1> Project Information </h1>
<div> 
	Host <%= @project.host%> <br>
	Owner <%= @project.user.name%> <br>

	<ul class="nav nav-tabs nav-justified">
  		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">Profile</a></li>
		<li><a href="#">Messages</a></li>
	</ul>

	
</div>